# Исключаем из образа Docker
.git
.gitignore
.env
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
*.sqlite3
*.sqlite3-journal
node_modules
.pixi
*.md
for cursor
.cursorignore
