/* Основной хедер */

/* .content{
    display: flex;
    flex-direction: column;
} */

.main-header {
    background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-top: 10px;
  padding-bottom: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-s) 0;
  /* background-color: #01acbb; */
}

/* Логотип */
.logo{
  display: flex;
  gap: 12px;
}
.logo__pin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background: #0d2c5f;
  border-radius: 10px;
}
.logo__text-1{
  font-size: 16px;
  line-height: 150%;
  color: #0a2463;
}

.logo__text-2{
  font-size: 12px;
  line-height: 133%;
  color: #4a5565;

}


/* Навбар */
.nav ul{
  display: flex;
  gap: 32px;
}

.navbar-link {
  font-weight: 500;
  color: #364153;;
  padding: 4px 0;
  position: relative;
  transition: color 0.2s ease;
}

.navbar-link:hover,
.navbar-link.active {
  color: #00c2d2;;
}

/* Подчёркивание при наведении */
.navbar-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #00c2d2;;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.navbar-link:hover::after {
  transform: scaleX(1);
}

/* Контакт и корзина */
.taskbar {
  display: flex;
  align-items: center;
  gap: 15px;
}

.contact{
  display: flex;
  gap: 8px;
  cursor: pointer;
}
.contact p{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #0a2463;
}
.basket-btn img{
  width: 24px;
  height: 24px;
}

.basket-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 44px;
  height: 44px;
  transition: background-color 0.2s ease;
}

.basket-btn:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.consultation-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 227px;
  height: 44px;
  border-radius: 10px;
  background-color: #00C2D2;
}

.consultation-btn:hover{
    background-color: #01acbb;
    cursor: pointer;
}
.consultation-btn p{
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

.burger-btn{
    display: none;
}
@media (max-width: 1074px){
    .contact{
        display: none;
    }
}

@media (max-width: 879px){
    .burger-btn{
        display: block;
    }

    .nav{
        display: none;
    }

    .consultation-btn{
        display: none;
    }
}
