{% load static %}
<div class="wrapper">
            <header class="main-header">
            <div class="header container">
                <a href="{% url 'index' %}" class="logo">
                    <div class="logo__pin"><img src="{% static 'img/svg/LogoImg.svg' %}" alt=""></div>
                    <div class="logo__text">
                        <p class="logo__text-1">ТехноСервис</p>
                        <p class="logo__text-2">IT Аутсорсинг</p>
                    </div>
                </a>
                <nav class="nav">
                    <ul>
                        <li><a href="{% url 'services' %}" class="navbar-link">Услуги</a></li>
                        <li><a href="{% url 'catalog' %}" class="navbar-link">Каталог</a></li>
                        <li><a href="{% url 'about' %}" class="navbar-link">О компании</a></li>
                        <li><a href="{% url 'cases' %}" class="navbar-link">Кейсы</a> </li>
                        <li><a href="{% url 'contacts' %}" class="navbar-link">Контакты</a></li>
                    </ul>            
                </nav>

                    
                <div class="taskbar">           
                    <a class="contact">
                        <img src="{% static 'img/svg/IconPhone.svg' %}" class="contact-ico">
                        <p>+7 (495) 123 45 67</p>
                    </a>

                    <button class="basket-btn" type="button" data-cart-open>
                        <img src="{% static 'img/svg/IconBasket.svg' %}" class="basket-ico" alt="Корзина">
                    </button>

                    <button class="burger-btn">
                        <img src="{% static 'img/svg/burger-menu-img.svg' %}" class="burger-menu-img">
                    </button>

                    <a class="consultation-btn">
                        <p>Получить консультацию</p>
                    </a>
                </div>
            </div>
        </header>

        <div class="mobile-menu-overlay" data-mobile-menu-overlay>
            <div class="mobile-menu">
                <div class="mobile-menu__header">
                    <span class="mobile-menu__title">Меню</span>
                    <button type="button" class="mobile-menu__close" data-mobile-menu-close aria-label="Закрыть">&times;</button>
                </div>
                <nav class="mobile-menu__nav">
                    <a href="{% url 'services' %}" class="mobile-menu__link">Услуги</a>
                    <a href="{% url 'catalog' %}" class="mobile-menu__link">Каталог</a>
                    <a href="{% url 'about' %}" class="mobile-menu__link">О компании</a>
                    <a href="{% url 'cases' %}" class="mobile-menu__link">Кейсы</a>
                    <a href="{% url 'contacts' %}" class="mobile-menu__link">Контакты</a>
                </nav>
            </div>
        </div>
</div>